<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
</head>
<body>
<ul class="pager">
    <li class="next"><a href="/Home/Stations">Вперед &rarr;</a></li>
</ul>
<div class="row">
    <div class="col-md-4" id="map">
        
    </div>
    <div class="col-md-8">
        <h4>Yandex </h4>
        <table class="table">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Адреса</th>
                <th>Яндекс</th>
                <th>Google</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in ViewBag.Schools)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.address</td>
                    <td>@item.coordinates[0]  @item.coordinates[1]</td>
                    <td>@item.coordinates[2]  @item.coordinates[3]</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</body>